{% extends "incoms/layout.html" %}

{% block body %}
<div>
    <h2>ΚΑΤΑΧΩΡΗΣΕΙΣ ΠΩΛΗΣΕΩΝ ΑΕΡΟΣΥΜΠΙΕΣΤΩΝ</h2>
    <button class="btn third" type="submit"><a href="{% url 'newEntry' %}">ΝΕΑ ΚΑΤΑΧΩΡΗΣΗ</a></button>
</div>
    <!-- To .itemTitle einai apo ta models -->
    <table>
    <thead>
      <tr>
        <th>ΕΠΩΝΥΜΙΑ</th>
        <th>MODEL</th>
        <th>Warranty</th>
      </tr>
    </thead>
    <tbody>
    {% for item in activeItems %}
      <tr>
        <td><a href="{% url 'itemview' id=item.id %}">{{ item.cOwner }}</a></td>
        <td>{{ item.cModel }}</td>
        <td>{{ item.warrantyVoid}}</td>
        {% comment %} <td> <button class="clogsButton"><a href="{% url 'editEntry' id=item.id %}">ΕΠΕΞΕΡΓΑΣΙΑ</button></td> {% endcomment %}
      </tr>      
    {%endfor%}
    </tbody>
</table>


    
{% endblock %}