{% extends "incoms/layout.html" %}

{% block body %}
<div>
  <form action="{% url 'cLogs/search' %}" method = "POST">
    {% csrf_token %}
    <input class="search" type="text" name="q" placeholder="Search">
</form>
    <h2>ΚΑΤΑΧΩΡΗΣΕΙΣ ΠΩΛΗΣΕΩΝ ΑΕΡΟΣΥΜΠΙΕΣΤΩΝ</h2>
    <button class="btn third" type="submit"><a href="{% url 'cLogs/newEntry' %}">ΝΕΑ ΚΑΤΑΧΩΡΗΣΗ</a></button>
</div>
    <!-- To .itemTitle einai apo ta models -->
    <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>ΕΠΩΝΥΜΙΑ</th>
        <th>MODEL</th>
        <th>WARRANTY</th>
      </tr>
    </thead>
    <tbody>
    {% for item in activeItems %}
      <tr>
        <td>{{ item.id }}</td>
        <td><a href="{% url 'cLogs/itemview' id=item.id %}">{{ item.cOwner }}</a></td>
        <td>{{ item.cModel }}</td>

        {% if item.warrantyVoid %}
        <div>
          <td class="warrantyVoid">WARRANTY VOID</td>
        </div>
        {% else %}
        <div>
          <td class="warrantyOk">{{ item.remainingDays }} days until void</td>
        </div>
        {% endif %}
        
        {% comment %} <td>{{ item.warrantyVoid}}</td> {% endcomment %}
        {% comment %} <td> <button class="clogsButton"><a href="{% url 'editEntry' id=item.id %}">ΕΠΕΞΕΡΓΑΣΙΑ</button></td> {% endcomment %}
      </tr>      
    {%endfor%}
    </tbody>
</table>


    
{% endblock %}