{% extends "incoms/layout.html" %}

{% block body %}
    <h2>ΝΕΑ ΚΑΤΑΧΩΡΗΣΗ</h2>

<form class="editForm" action="{% url 'saveEdit' id=itemDetails.id %}" method="POST">
    {%csrf_token%}
    <div>
        <span>ΠΕΛΑΤΗΣ</span>
        <input type="text"  name="customer" value="{{itemDetails.cOwner}}">
    </div>

    <div>
        <span>MODEL</span>
        <input type="text"  name="model" value="{{itemDetails.cModel}}">
    </div>
      
    <div>
        <span>S/N</span>
        <input type="text"  name="serial" value="{{itemDetails.cSerial}}">
    </div>

    <div>
        <span>ΗΜΕΡΟΜΗΝΙΑ ΠΩΛΗΣΗ</span>
        <input type="date" name="sDate" value="{{itemDetails.cBuyDate}}">
    </div>



    <div>
        <button class="btn third" type="submit" >Save</button>
    </div>







  
</form>
    
{% endblock %}