{% extends "incoms/layout.html" %}

{% block body %}
    <h2>ΕΠΕΞΕΡΓΑΣΙΑ ΚΑΤΑΧΩΡΗΣΗΣ</h2>
    <h1>ID:{{visitDetails.id}}</h1>

<form class="editForm" id ="newProjectForm" action="{% url 'saveEdit' id=itemDetails.id %}" method="POST">
    {%csrf_token%}
    <div>
        <span>ΠΕΛΑΤΗΣ</span>
        <input type="text"  name="customer" value="{{itemDetails.cOwner}}">
    </div>

    <div>
        <span>MODEL</span>
        <input type="text"  name="model" value="{{itemDetails.cModel}}">
    </div>
      
    <div>
        <span>S/N</span>
        <input type="text"  name="serial" value="{{itemDetails.cSerial}}">
    </div>

    <div>
        <span>ΗΜΕΡΟΜΗΝΙΑ ΠΩΛΗΣΗΣ</span>
        <input type="date" name="sDate" value="{{itemDetails.cBuyDate}}">
    </div>



    <div>
        <button id = "demo"class="btn third" type="submit" >Save</button>
    </div>

   
    








  
</form>
    
{% endblock %}