{% extends "incoms/layout.html" %}

{% block body %}
    <h2>ΕΠΕΞΕΡΓΑΣΙΑ ΕΠΙΣΚΕΨΗΣ</h2>
    <h1>ID:{{visitDetails.id}}</h1>
    <h1>ID:{{itemDetails.id}}</h1>

<form class="editForm" id ="newProjectForm" action="{% url 'saveEditVisit' id=visitDetails.id %}" method="POST">
    {%csrf_token%}
    <div>
        <span>ΩΡΕΣ ΥΠΟ ΦΟΡΤΙΟ:</span>
        <input type="number"  name="vLoad" value="{{visitDetails.loadHours}}">
    </div>
      
    <div>
        <span>ΩΡΕΣ ΛΕΙΤΟΥΡΓΙΑΣ:</span>
        <input type="number"  name="vHours" value="{{visitDetails.workingHours}}">
    </div>

    <div>
        <span>ΗΜΕΡΟΜΗΝΙΑ</span>
        <input type="date" name="vDate" value="{{visitDetails.dateRender}}">
    </div>
    
    <label>ΣΗΜΕΙΩΣΕΙΣ: <textarea name="vNotes" type="textarea"required>{{visitDetails.cNotes}}</textarea></label>
    
    <select name="category" required>
    <option selected disabled>Choose Category</option>
        {%for category in categories%}
            <option>{{category}}</option>
        {%endfor%}
        </select>

    <div>
        <button class="btn third" type="submit">Save</button>
    </div>


   
    








  
</form>
    
{% endblock %}