
{% extends "incoms/layout.html" %}

{% block body %}
<h2>ΠΕΛΑΤΗΣ</h2>
  <table>
    <thead>
        <tr>
        <th>ID</th>
        <th>ΕΠΩΝΥΜΙΑ</th>
        <th>MODEL</th>
        <th>S/N</th>
        <th>ΗΜΕΡΟΜΗΝΙΑ ΑΓΟΡΑΣ</th>
        </tr>
    </thead>

    <tbody>
      <tr>
      <td>{{ itemDetails.id }}</td>
      <td>{{ itemDetails.cOwner }}</td>
      <td>{{ itemDetails.cModel }}</td>
      <td>{{ itemDetails.cSerial }}</td>
      <td>{{ itemDetails.cBuyDate }}</td>
      </tr>
    </tbody>
  </table>
  
  <span>
    
    {% if itemDetails.cTechnician == loggedUser %}
    <button class="btn third"><a href="{% url 'editEntry' id=itemDetails.id %}">ΕΠΕΞΕΡΓΑΣΙΑ ΕΓΡΑΦΗΣ</a></button>
    {%endif%}
  </span>

  <h2>ΙΣΤΟΡΙΚΟ ΕΠΙΣΚΕΨΕΩΝ</h2>
  <table>
    <thead>
      <tr>
      <th>ID</th>
      <th>ΗΜΕΡΟΜΗΝΙΑ</th>
      <th>ΕΝΕΡΓΕΙΑ</th>
      <th>ΩΡΕΣ ΥΠΟ ΦΟΡΤΙΟ</th>
      <th>ΩΡΕΣ ΛΕΙΤΟΥΡΓΙΑΣ</th>
      <th>NOTES</th>
      <th>ΤΕΧΝΙΚΟΣ</th>
      <th></th>
      </tr>
    </thead>

    <tbody>
      {% for visit in visits%}
        <tr>
        <td>{{ visit.id }}</td>
        <td>{{ visit.visitDate }}</td>          
        <td>{{ visit.visitReason}}</td>
        <td>{{ visit.loadHours }}</td>
        <td>{{ visit.workingHours }}</td>
        <td>{{ visit.cNotes }}</td>
        <td>{{ visit.cTechnician }}</td>
        <td><button class=""><a href="{% url 'editVisit' id=visit.id %}">EDIT</a></button></td>
        </tr>
      {% endfor %}  
    </tbody>
  </table>

  <button class="btn third" type="submit"><a href="{% url 'export_to_excel' id=itemDetails.id %}">EXPORT</a></button>
  <button class="btn third" type="submit"><a href="{% url 'newVisit' id=itemDetails.id %}">ΚΑΤΑΧΩΡΗΣΗ ΕΠΙΣΚΕΨΗΣ</a></button>
{% endblock %}
