
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'incoms/layout.css' %}">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    </head>
    <body>
        <div class="navbar">
            <nav>
                <h2>TECHNOMATIC inCOMS</h2>
                <ul>
                {% if user.is_authenticated %}
                  <li class="btn third"><a href="{% url 'cLogs' %}">COMPRESSORS LOG</a></li>
                  <li class="btn third"><a href="{% url 'cLogs' %}">ΠΑΡΑΓΓΕΛΙΕΣ ΕΞΩΤΕΡΙΚΟΥ</a></li>
                  <li class="btn third"><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="btn third"><a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="btn third"><a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
                </ul>
              </nav>
        </div>
       
    </body>

</html>
        {% block body %}
        {% endblock %}
    </body>
</html>
