
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'incoms/layout.css' %}">
        
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="{%url 'index' %}">Home</a>
            <a href="{%url 'cLogs' %}">Compressors Log</a>
            <p class="loggedUser">Ahoy {{user}}!!!</p>
        </div>
       
    </body>

</html>
        {% block body %}
        {% endblock %}
 