{% extends "incoms/layout.html" %}

{% block body %}
    <h1>ΝΕΑ ΚΑΤΑΧΩΡΗΣΗ</h1>

<form class="editForm" action="{% url 'newCEtry' %}" method="POST">
    {%csrf_token%}
    <fieldset>
        <label >ΕΠΩΝΥΜΙΑ: <input id="first-name" name="customer" type="text" required /></label>
        <label >MODEL <input id="last-name" name="model" type="text" required /></label>
        <label >S/N: <input id="email" name="serial" type="text" required /></label>
        <label >ΗΜΕΡΟΜΗΝΙΑ ΠΩΛΗΣΗΣ: <input name="sDate" type="date" required /></label>
    </fieldset>

    <div>
        <button class="btn third" type="submit">Save</button>
    </div>
</form>
    
{% endblock %}