{% extends "incoms/layout.html" %}

{% block body %}
{% if query %}

    <div>
    <table>
        <thead>
            <tr>
            <th>ID</th>
            <th>ΕΠΩΝΥΜΙΑ</th>
            <th>MODEL</th>
            <th>WARRANTY</th>
            </tr>
        </thead>

        <tbody>
            {% for result in results %}
            <tr>
            <td>{{ result.id }}</td>
            <td><a href="{% url 'cLogs/itemview' id=result.id %}">{{ result.cOwner }}</a></td>
            <td>{{ result.cModel }}</td>

            {% if result.warrantyVoid %}
                <div>
                    <td class="warrantyVoid">WARRANTY VOID</td>
                </div>
                {% else %}
                <div>
                    <td class="warrantyOk">{{ result.remainingDays }} days until void</td>
                </div>
                {% endif %}
            </tr>      
            {%endfor%}
        </tbody>
    </table>
    </div>
    
{% else %}
    <h1>Please enter a search query</h1>
{% endif %}

{% endblock %}